@media (max-width:320px) {
    .block--projects .element {
        margin: 0 auto!important
    }
}

@media (max-width:781px) {
    .block--index .animate p {
        font-size: 1.1rem!important
    }
    .block--projects .title {
        font-size: 4vw!important
    }
    .block--projects .title span a {
        font-size: 1em!important
    }
    .block--projects .container {
        width: 100% !important;
    }
    .block--projects .element {
        width: 100%!important;
        height: 28%!important;
        margin: 6% 0% !important;
    }

    .block--projects .element .image-container {
        margin: 0 auto;
    }
    .block--projects .element img {
        width: 50% !important;
        height: auto
    }
    .preview {
        padding-top: 15px!important
    }
    .block--projects .container h5 {
        margin: 1rem 0!important
    }
}

@media (max-width:854px) {
    .block--index {
        width: 100%!important;
        left: 0%!important
    }
    .block--index .animate h5 {
        margin-bottom: 20px!important
    }
    .links-container {
        margin-top: 10%!important
    }
    .block--contact form button {
        padding: 5px!important
    }
    .block--contact form input,
    .block--contact form textarea {
        width: 88%!important
    }
    .block--projects {
        width: 100%!important;
        background-color: #fff!important;
        transition: none!important
    }
    .block--projects .element {
        -webkit-animation-name: fadeInLeft;
        animation-name: fadeInLeft;
        -webkit-animation-duration: .8s;
        animation-duration: .8s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-delay: .1s;
        animation-delay: .1s;
        overflow: hidden!important
    }
    .block--projects .element .block--load,
    .block--projects .element img {
        width: 100%!important;
        height: auto!important
    }
    .block--projects .element img {
        margin: 0 auto!important
    }
    .block--projects h2 {
        position: relative!important;
        margin-top: 0!important;
        top: 0%!important;
        left: 0%!important
    }
    .close:after,
    .close:before {
        height: 22px!important
    }
    .block--contact .close,
    .block--projects .close {
        right: 26px!important
    }
    .block--contact h5 {
        font-size: 1.4rem!important
    }
    .block--contact p {
        font-size: 1.2rem!important
    }
}

@media (max-width:1025px) {
    .block--projects .element {
        height: 33%!important
    }
    .block--projects .element .block--load {
        width: 100%;
        height: auto
    }
    .block--projects .container {
        width: 100% !important;
    }
    .block--projects .element img {
        width: 100%;
        height: auto;
        margin: 8% auto
    }
}

@media (max-height:800px) and (min-width:961px) {
    .block--index .animate {
        padding: 50px 40px!important
    }
    .block--index .animate p {
        font-size: 1em!important
    }
}

html {
    background-color: #fff;
    height: 100%;
    overflow-x: hidden
}

body {
    font-family: 'Helvetica Neue', 'Roboto', sans-serif
}

.hidden-before-load {
    position: relative;
    overflow: hidden;
    height: 100%
}

.block--index {
    position: absolute;
    background-color: #000;
    width: 100%;
    min-height: 100vh;
    text-rendering: optimizeLegibility
}

.noscript-elements {
    display: none;
    font-size: 2.7em
}

.close {
    position: absolute;
    right: 26px;
    top: 26px;
    width: 26px;
    height: 26px;
    transition: all .3 ease;
    cursor: pointer;
    z-index: 99
}

.close:after,
.close:before {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333
}

.close:before {
    transform: rotate(45deg)
}

.close:after {
    transform: rotate(-45deg)
}

.block--index .div-scroll,
.block--index .title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    width: 100%
}

.block--index .div-scroll {
    cursor: pointer;
    bottom: 10px;
    font-size: .9em;
    color: gray;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
    background-image: linear-gradient(90deg, #000 50%, #fff 50%);
    letter-spacing: 4px;
    position: fixed;
    left: 0%
}

.block--index .profil-picture {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 25px;
}

.block--index .title {
    background-image: linear-gradient(135deg, #fd9f4c, #ee3969, #db3a9e, #5f408c, #396fb4, #29a8db, #26b6e5);
    font-weight: 700;
    font-size: 5vw;
    position: absolute;
    top: 50%;
    left: -100%;
    margin-top: -16%;
    max-width: 100%;
    letter-spacing: 10px;
    padding: 20px
}

.block--contact h5,
.block--index .animate h4 {
    font-size: 2rem
}

.block--index .animate h5 {
    font-size: 1.5rem;
    line-height: 1.08654;
    letter-spacing: -.014em;
    color: #fff
}

.block--index .animate,
.block--index .title {
    display: none
}

.github-logo, .linkedin-logo, .codepen-logo,
.dribbble-logo, .twitter-logo, .lock-logo, .blog-logo, .medium-logo {
    margin: 0 5px
}

.dribbble-logo,
.twitter-logo, .lock-logo {
    color: #fff!important;
    transition: all .2s ease-in
}

.twitter-logo:hover {
    color: #76a9ea!important
}

.dribbble-logo:hover {
    color: #ee3969!important
}

.lock-logo:hover {
    color: green !important
}


.project-logo {
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 400;
    transition: all .2s ease-in
}

.project-logo:hover {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg, #fd9f4c, #ee3969, #db3a9e, #5f408c, #396fb4, #29a8db, #26b6e5)
}

.linkedin-logo {
    color: #fff!important;
    transition: all .2s ease-in
}

.linkedin-logo:hover {
    color: #007aaa!important
}

.block--index .animate {
    opacity: 1;
    width: 100%;
    color: #fff;
    padding: 10vh 6vh
}

.block--index .animate p {
    font-size: 1.2em;
    font-weight: 300
}

.block--contact a,
.block--index .animate a {
    color: #fff;
    text-decoration: none
}

.links-container {
    margin-top: 20%
}

.mail-logo {
    display: inline-block;
    float: right;
    font-weight: 100;
    font-size: .8rem;
    margin-top: 6px;
    letter-spacing: 1px
}

.mail-logo:hover {
    cursor: pointer;
    color: #ee3969!important
}

.block--index .animate .codepen-logo,
.block--index .animate .dribbble-logo,
.block--index .animate .github-logo,
.block--index .animate .linkedin-logo,
.block--index .animate .mail-logo,
.block--index .animate .project-logo,
.block--index .animate .twitter-logo,
.block--index .animate .lock-logo,
.block--index .animate .blog-logo,
.block--index .animate .medium-logo,
.block--index .animate img,
.block--index .animate h4,
.block--index .animate h5,
.block--index .animate p,
.block--index .title {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}



.block--index .animate img, .block--index .animate p,
.block--index .title {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s
}

.block--index .animate h4 {
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
    text-align: center;
    font-weight: 700
}

.block--index .animate .github-logo,
.block--index .animate img,
.block--index .animate h4,
.block--index .animate h5,
.block--index .animate p,
.block--index .title {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.block--index .animate h5 {
    text-align: center;
    font-weight: 100;
    margin-bottom: 50px;
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

.block--index .animate .github-logo {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s
}

.block--index .animate .linkedin-logo {
        -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.block--index .animate .codepen-logo {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s
}

.block--index .animate .dribbble-logo {
        -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s
}

.block--index .animate .twitter-logo {
        -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s
}

.block--index .animate .lock-logo {
        -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s
}

.block--index .animate .project-logo,
.block--projects .close,
.block--projects .title {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2s;
    animation-delay: 2s
}

.block--index .animate .mail-logo,
.block--projects .close,
.block--projects .title {
        -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2.1s;
    animation-delay: 2.1s
}

.block--projects {
    display: none;
    position: absolute;
    width: 50%;
    min-height: 100vh;
    left: 0;
    top: 0;
    transition: all .34s ease-in-out;
    z-index: 30
}

.block--projects .close,
.block--projects .title {
    position: absolute;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.block--projects .nojs-projects-title  {
    display: none;
}

.block--projects .close {
    right: -95%;
    height: 26px;
    transition: all .3 ease;
    cursor: pointer;
    top: 26px;
    width: 26px
}

.block--projects .title {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(135deg, #fd9f4c, #ee3969, #db3a9e, #5f408c, #396fb4, #29a8db, #26b6e5);
    font-weight: 700;
    font-size: 5vw;
    top: 50%;
    left: 100%;
    margin-top: -25%;
    max-width: 100%;
    letter-spacing: 10px;
    padding: 20px;
    text-align: center;
    width: 100%
}

.block--projects .title span a {
    font-size: 3vw
}

.block--projects .container
.preview {
    width: 100%;
    height: 100%;
    position: absolute;
}

.block--projects .element {
    margin: 3% 5%;
    position: relative;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.block--projects .element a {
    height: 100%;
    width: 100%
}

.image-container {
  width: 100%;
    max-width: 600px;
    display: block;
    position: relative;
    margin: 0 auto;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.preview {
    position: absolute;
    top: 0;
    padding-top: 10%;
    text-align: center;
    opacity: 0;
    color: #252830;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    z-index: 21;
}

.block--projects .element:hover .preview {
    background-color: rgba(255, 255, 255, .9);
    opacity: 1
}

.block--projects .container h5 {
    font-size: 1.3em;
    font-weight: 100;
    margin: 1rem 0
}

.block--projects .container .content {
    border-bottom: none!important;
    display: inline-block;
    font-size: .65em;
    letter-spacing: 2px;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 22
}

.block--projects .container .content a {
    text-decoration: none;
    color: #252830;
    z-index: 22
}

.block--projects .container .content:after {
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    top: 5px;
    position: relative;
    background: 0 0;
    -webkit-transition: width 1s ease .1s, background .5s ease .1s;
    transition: width 1s ease .1s, background .5s ease .1s;
    z-index: 22
}

.block--projects .element:hover .content:after {
    width: 100%;
    background: rgba(12, 12, 12, .5)
}

/*.block--load,
.element img {
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100%
}

.block--load {
    background-color: #d3d2cf;
    animation: pulseIt 2s ease infinite alternate;
    width: 10%;
    z-index: 18
}

.element img {
    z-index: 21;
    width: auto
}*/

.block--projects .listizi,
.block--projects .soundColor,
.block--projects .toolslist {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center
}

.block--contact {
    background-color: #fff;
    padding: 80px 15px;
    text-align: center;
    display: none;
    position: absolute;
    min-height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    transition: all .34s ease-in-out;
    z-index: 40
}

.block--contact .animate,
.block--contact .close {
    position: relative;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: .1s;
    animation-delay: .1s
}

.block--contact .close {
    position: fixed;
    top: 26px;
    right: 26px;
    transition: all .3 ease;
    cursor: pointer;
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.block--contact .nojs-gohome {
    display: none;
}

.block--contact p {
    font-size: 1.7rem;
    color: rgba(0, 0, 0, .34)
}

.block--contact a {
    color: #000
}

.block--contact a:hover {
    color: #ea4c89
}

.block--contact form label,
.element img {
    display: block
}

.block--contact form input,
.block--contact form textarea {
    font-weight: 100;
    font-size: 1.1rem;
    width: 60%;
    margin: 15px;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #ee3969;
    outline: 0;
    box-shadow: none;
    transition: all .3s ease-in-out;
    resize: none
}

.block--contact form input:valid,
.block--contact form textarea:valid {
    border-bottom: 1px solid green
}

.block--contact form button {
    border: 0;
    min-width: 157.2px;
    min-height: 65px;
    padding: 15px;
    background-color: #ee3969;
    color: #fff;
    vertical-align: middle;
    transition: all .3s ease-in-out
}

.block--contact form button:hover {
    background-color: #ea4c89
}

.block--contact form button svg {
    width: 65px;
    height: 65px;
    fill: #fff;
    vertical-align: middle
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@keyframes blink {
    0%,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-webkit-keyframes blink {
    0%,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@-moz-keyframes blink {
    0%,
    to {
        opacity: 1
    }
    50% {
        opacity: 0
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fromLeft {
    0% {
        height: 100%
    }
    to {
        height: 80px
    }
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0)
    }
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-30px, 0, 0);
        transform: translate3d(-30px, 0, 0)
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes pulseIt {
    0% {
        opacity: 1
    }
    33% {
        opacity: .4
    }
    66% {
        opacity: .8
    }
}
